doctype html

html
    head

        //materializecss css file
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")

        //google icon fonts
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

        //jquery file
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")

        //materializecss js file
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")

        //viewport scaling
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title AkaviTech

    body
        h3.center It seems you are lost
        a(href="/") back to home