.carousel
    a.carousel-item(href="#one!")
        img(src="/images/daa.jpg")
    a.carousel-item(href="#two!")
        img(src="/images/daa.jpg")
    a.carousel-item(href="#three!")
        img(src="/images/daa.jpg")
    a.carousel-item(href="#four!")
        img(src="/images/daa.jpg")
    a.carousel-item(href="#five!")
        img(src="/images/daa.jpg")
            //----------------parallax--------------------
div.parallax-container
    div.parallax
    img(src="/images/db.jpg" height="1000" width="100%")
