doctype html

html

    body
        h4
        table
            tr company_name
                ul
                  each val in data.result
                    li
                      a(href="/gotobrand?brand="+val.company) #{val.company}
