a.waves-effect.waves-light.modal-trigger.right(href="#modal2")#loginbutton login

div#modal2.modal.modal-fixed-footer
    div.modal-content
        div.input-field.col.s12
            input(type="text")#number1
            label(for="number1") number
        div.input-field.col.s12
            input(type="password")#password1
            label(for="password1") Password
    div.modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat#loginButton1 login
