a.waves-effect.waves-light.modal-trigger.right(href="#modal1")#registerbutton Register /

div#modal1.modal.modal-fixed-footer
    div.modal-content
        div.input-field.col.s12
            input(type="text")#name
            label(for="name") Name
        div.input-field.col.s12
            input(type="text")#number
            label(for="number") Number
        div.input-field.col.s12
            input(type="password")#password
            label(for="password") Password
    div.modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat#submitButton Submit