doctype html

html

    body
        h4
        table
            tr brand_name
                ul
                    //each val in data.result
                    //    //li = val.brand
                            //a(href="/gotobrand?brand="+val.brand) #{val.brand}
