html{
    background-color: black;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

body.mainbg{
    background-image: url("/public/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}

main{
    flex: 1 0 auto;
}

div.mainContent{
    height: 50%;
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div.resetrow{
    margin-bottom: 0px;
}

h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

input[type=email]{
    text-align: center;
    color: black;
    background-color: white;
}

input[type=button]{
    text-align: center;
    color: black;
    background-color: white;
}

a.contactButton{
    border-bottom-left-radius: 35px;
}

.circlebg{
    display: inline-block;
    width: 115px;
    height: 120px;
    margin: 7px;
    padding-top: 20px;
    border-radius: 70px;
    background-color: black;
    opacity: 0.6;
    color: white;
    text-align: center;
    font-size: 15px;
}

span.launchtimer{
    line-height: 70px;
    font-size: 60px;
}

p{
    font-size: 1.4em;
}