.card-panel.hoverable.purple.darken-3(class='#6a1b9a')
    .row
    a.brand-logo(href='/') Logo
    include ../login
    include ../register

    br
    h2.flow-text.center.strong ApniCare

    .row
        .col.s12.purple.darken-3
            li.tab.col.s3.a(href='#test1',data-activates='dropdown1').purple.darken-3.btn.dropdown-button perscription
                ul#dropdown1.dropdown-content
                    li.a(href='#!') bycondition
                    li.a(href='#!') bymanufacturer
                    li.divider
                    li.a(href='#!') search alphabetically
            li.tab.col.s3.a(href='#test2',data-activates='dropdown1').purple.darken-3.btn.dropdown-button.purple.darken-3 health
            li.tab.col.s3.disabled.a(href="#test3",data-activates='dropdown1').purple.darken-3.btn.dropdown-button.purple.darken-3 OTC
            li.tab.col.s3.a(href="#test4",data-activates='dropdown1').purple.darken-3.btn.dropdown-button.purple.darken-3 diabetes




